@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-border-black {
        color: #fff;
        -webkit-text-stroke: 2px black;
        text-shadow: 
          2px 2px 0 #000, /* top-left border */
          2px 2px 0 #000,  /* top-right border */
          2px 2px 0 #000,  /* bottom-left border */
          2px 2px 0 #000;   /* bottom-right border */
    }
      

    .text-shadow-black {
        text-shadow: 0 4px 0 #141414;
    }
}