@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-border-black {
        color: #fff;
        -webkit-text-stroke: 2px black;
    }

    .text-border-gray {
        color: #626161;
        -webkit-text-stroke: 2px black;
    }
      

    .text-shadow-black {
        text-shadow: 0 4px 0 #141414;
    }

    .text-shadow-gray {
        text-shadow: 0 2px 0 #626161;
    }
}